body {
    font-family: 'Montserrat', sans-serif;
    background-color: #2c3e50;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dice-container {
    display: grid;
    grid-template: auto auto / repeat(5, 1fr);
    gap: 1.25rem;
    margin-bottom: 2.5rem;
}

.dice {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 7rem;
    height: 7rem;
    background-color: #ecf0f1;
    padding: 2rem;
    margin: 0.1rem;
    color: #000;
    border-radius: 10px;
    border-style: solid;
    border-width: 2px;
    border-color: #000;
    font-size: 2.5rem;
    box-sizing: border-box;
}

.btn-roll {
    color: #fff;
    background-color: #2980b9;
    width: 25rem;
    height: 5rem;
    font-size: 1.7rem;
}

.num-of-move {
    display: flex;
    flex-direction: column;
}

.num-of-move>div {
    text-align: center;
    margin: 0 !important;
    color: #fff;
}

.number-of {
    font-size: 1.5rem;
}

.move {
    font-size: 1.7rem;
}

.square {
    height: 7rem;
    padding: 2rem;
    margin: 0.1rem;
    color: #000;
    border-radius: 10px;
    border-style: solid;
    border-width: 2px;
    border-color: #000;
    font-size: 2.5rem;
    box-sizing: border-box;
}

.time {
    width: 10rem;
    background-color: #f368e0;
}

.number {
    width: 7rem;
    background-color: #f39c12;
}

.desc {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #34495e;
    color: #fff;
    box-shadow: 0px 3px 10px rgba(0,0,0,0.2);
}

.desc-header{
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
}

.desc > p{
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 10px;
}

@media(max-width: 576px){
    .dice-container {
        display: grid;
        grid-template: auto auto / repeat(5, 1fr);
        gap: .25rem;
        margin-bottom: 1rem;
    }
    
    .dice {
        width: 3.5rem;
        height: 3.5rem;
        padding: 1rem;
        margin: 0.1rem;
        font-size: 1.5rem;
    }
    .btn-roll {
        width: 100%;
        height: 4rem;
        font-size: 1.5rem;
    }
    .square {
        height: 3rem;
        padding: 2rem;
        margin: 0.1rem;
        font-size: 1.5rem;
    }
    .time {
        width: 6rem;
        background-color: #f368e0;
    }
    
    .number {
        width: 3rem;
        background-color: #f39c12;
    }
}

 @media (min-width: 992px) { 
    body {
        
    }
 }